<p-panel header="Pipes Basicos" class="p-1" >

    <h1> Pipes Basicos </h1>
    <p>
        Pipes incluídos en Angular - Usualmente en el Common Module
    </p>

</p-panel>

<div class="grid">
    
    <div class="col-4">
        <p-card header="uppercase" >
            {{ nameLower | uppercase }}
        </p-card>
    </div>

    <div class="col-4">
        <p-card header="lowercase" >
            {{ nameUpper | lowercase }}
        </p-card>
    </div>

    <div class="col-4">
        <p-card header="titlecase" >
            {{ nameFull | titlecase }}
        </p-card>
    </div>

</div>