<p-panel header="Pipes Basicos" class="p-1" >

    <h1> Pipes Basicos </h1>
    <p>
        Pipes incluídos en Angular - Usualmente en el Common Modole
    </p>

</p-panel>

<div class="grid">
    
    <div class="col-12 md:col-4">
        <p-card header="uppercase" >
            {{ nameLower | uppercase }}
        </p-card>
    </div>

    <div class="col-12 md:col-4">
        <p-card header="lowercase" >
            {{ nameUpper | lowercase }}
        </p-card>
    </div>

    <div class="col-12 md:col-4">
        <p-card header="titlecase" >
            {{ nameFull | titlecase }}
        </p-card>
    </div>

    <div class="col-12 md:col-6">
        <p-card header="Ejemplos de pipes Date" >

            <ol>
                <li>Fecha</li>
                <li>Fecha | Date</li>
                <li>Fecha | Date:'short'</li>
                <li>Fecha | Date:'long'</li>
                <li>Fecha | Date:'MMMM'</li>
                <li>Fecha | Date:'MMMM dd, yyyy'</li>
            </ol>

            <hr>
            <ol>
                <li>
                    fecha | date:'long': 'GMT-6'
                </li>
                <li>
                    fecha | date:'long': 'GMT-4'
                </li>

            </ol>
        </p-card>
    </div>

    <div class="col-12 md:col-6">
        <p-card header="Pipes Date implementados" >

            <ol>
                <li> {{ customDate }} </li>
                <li> {{ customDate | date }} </li>
                <li> {{ customDate | date:'short' }} </li>
                <li> {{ customDate | date:'long' }} </li>
                <li> {{ customDate | date:'MMMM' }} </li>
                <li> {{ customDate | date:'MMMM dd, yyyy' }} </li>

            </ol>

            <hr>

            <ol>
                <li> {{ customDate | date:'long': 'GMT-6' }} </li>
                <li> {{ customDate | date:'long': 'GMT-4' }} </li>
            </ol>

        </p-card>
    </div>

</div>